@model StatsViewModel

@{
    Layout = Layout;
}

<div class="content-header">
    <div class="container-fluid">
        <h1>Статистика</h1>
    </div>
    <section class="content">
        <div class="container-fluid">
        <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3></h3>
                    <h4></h4>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>    
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3></h3>
                    <h4></h4>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>    
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3></h3>
                    <h4></h4>
                </div>
                <a class="small-box-footer"></a>
            </div>
        </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3></h3>
                        <h4></h4>
                    </div>
                    <a class="small-box-footer"></a>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>